{% if production is defined %}
discourse.keio.app
{% else %}
localhost:80
{% endif %}

proxy / unix:/var/discourse/shared/standalone/nginx.http.sock {
  transparent
}

gzip
log stdout

tls {
    dns digitalocean
}
